.App {
  padding: 6px 50px 25px;
  background-color: rgb(148,191,249);

  input {
    background-color: lightblue;
  }

  p {
    padding: 0;
    margin: 0;
  }
  .form--bad {
    > button {
      color: grey;
      &:focus {
        outline: none;
      }
    }

    .checkbox-container {
      display: flex;
    }
  }
}
