.form--good {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 500;

  *::-moz-selection {
    background-color: #BA9EB0;
    color: #ffffff;
  }

  *::selection {
    background-color: #BA9EB0;
    color: #ffffff;
  }

  *:focus {
    outline: 3px solid orange;
  }

  div {
    padding: 3px;
  }

  .form__element {
    input {
      margin-left: 5px;
    }
  }

  .form__elements-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
  }

  .checkbox-wrapper {
    position: relative;
    width: 500px;

    input {
      height: 18px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 18px;
    }

    input:focus + label::before {
      outline: 3px solid orange;
    }


    label {
      margin-left: 28px;
    }

    input+label::before {
      border: 2px solid;
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
      background-color: lightblue;
    }

    label::after {
      content: "";
      border: 4px solid;
      border-left: 0;
      border-top: 0;
      height: 11px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 2px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      transition: opacity 0.2s ease-in-out;
      width: 7px;
    }

    input:checked + label::after {
      opacity: 1;
    }
  }
}

.form__element {
  max-width: 100%;
}